$theme_color:#daebed;
$orange:#F18324;
$border_color:#57b9a1;

.main_layout_container {
    background-color: $theme_color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 0px;
    flex-wrap: wrap;

    .main_heading {
        font-size: 42px;

        @media (max-width:767px) {
            font-size: 36px;
            text-align: center;

            br{
                display: none;
            }
            
        }
    }

    .btn_wrap {
        display: flex;
        // flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;

        @media (max-width:767px) {
            justify-content: center;
            margin-bottom: 30px;
            
        }

        .service_btn {
            font-size: 20px;
            padding: 20px;
            color: #fff;
            border-radius: 50px;
            background-color: $orange;
            cursor: pointer;

            @media (max-width:767px) {
                padding: 10px;
                font-size: 16px;
                
            }

            &:hover {
                background-color: #fff;
                color: #000;
            }

        }

        .enquiry_btn {
            font-size: 20px;
            padding: 20px;
            color: #fff;
            border-radius: 50px;
            background-color: #57b9a1;
            cursor: pointer;

            @media (max-width:767px) {
                padding: 10px;
                font-size: 16px
                
            }

            &:hover {
                background-color: #fff;
                color: #000;
            }

        }
    }

    .image_wrap {
        width: 100%;
        max-width: 750px;

        @media (max-width:767px) {
            max-width: 95%;
            margin: auto;
        }

        img {
            border-radius: 20px;
        }
    }

}