.hamburger_menu_container {

   

    
}

.accordion_region {
    background-color: red;
    display: block;
   
}

.accordion{
    box-shadow: none;
    padding: 0px;
    display: block !important;
    padding-inline: 0px;

    li {
        display: block;
    }
   
}

.summary_content{
    // background-color: blue;
}

