.hamburger_menu_container {

   
    
    
}

.item_div{
    border-bottom: 1px solid #000;
    padding: 10px 10px 10px 10px;
}

.ListItem_root {
   
    li {
        display: block;
        padding: 10px 0px 0px 0px;

    }
}

.accordion_region {
    display: block;
   
}

.accordion_detail_root{
    padding: 5px 0px;

    p {
        border-bottom: 1px solid #000;
        padding: 10px;


        }
}

.accordion{
    box-shadow: none;
    padding: 0px;
    display: block !important;
    padding-inline: 0px;

    li {
        display: block;
    }
   
}

.summary_content{
    padding: 0px 10px;
    border-bottom: 1px solid #000;
}

.drawer_paper {
    width: 300px;
}
